@CHARSET "UTF-8";
.progress-bar  .progress-label{
	float:left;
	height:100%;
	/* width:200px; */
	min-width:100%;
	color:#333;
}

.page-header-fix {
	margin-left:-15px;
	margin-right:-15px;
	border-bottom-color:#006699;
	border-bottom-width:5px;

}

.page-header-title {
	color:#009900;
	font-weight:bold;
}
.table-head{
	background-color:#00cd32;
}


/* 半透明的遮罩层 */
#alphalayer {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000; /* 此处的图层要大于页面 */
    display:none;
}
/* 弹出的视窗 */
#popwin {
    background: white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1001; /* 此处的图层要大于页面 */
 	display:none;
}