<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<!-- 主机信息采集 -->
	<servlet>
		<description>主机采集</description>
		<servlet-name>poll</servlet-name>
		<servlet-class>poll.action.PollActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>poll</servlet-name>
		<url-pattern>/poll</url-pattern>
	</servlet-mapping>
	
	<!-- 采集到的主机信息导出 -->
	<servlet>
		<description>主机采集信息导出</description>
		<servlet-name>export</servlet-name>
		<servlet-class>export.action.ExportActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>export</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>
	
	
  	<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  	</welcome-file-list>
</web-app>
